@CHARSET "UTF-8";

.container{background: #F2F2F2}
.main{padding: 10px;}
.header{border-bottom: 1px solid #D5D5D5; padding: 10px;}
.footer{border-top: 1px solid #D5D5D5; padding: 10px; text-align: right}

#bdd_state .head{font-weight: bold;}
table td, table th{border:1px solid #D5D5D5; padding:5px;}

#mha_state .log{margin: 20px 0 5px; border: 1px solid #D5D5D5; padding: 10px; height: 400px; overflow: auto;}
#mha_state .time{float: right}

.ok, .glyphicon-ok{color:green}
.nok, .glyphicon-remove{color:red}
