@CHARSET "UTF-8";

.container{background: #F6F6F6}
.main{padding: 10px;}
.header{border-bottom: 1px solid #D5D5D5; padding: 10px;}
.footer{border-top: 1px solid #D5D5D5; padding: 10px; text-align: right}

#bdd_state,
#magento_state,
#mha_state{border-bottom: 1px solid #D5D5D5; padding-bottom:10px;}

#bdd_state .head{font-weight: bold;}
table td, table th{border:1px solid #D5D5D5; padding:5px;}
table{margin: 5px 0px;}
#mha_state .log{margin: 20px 0 5px; border: 1px solid #D5D5D5; padding: 10px; height: 400px; overflow: auto;}
#mha_state .time{float: right}

.ok, .glyphicon-ok{color:green}
.nok, .glyphicon-remove{color:red}

.loader{background: url('../images/loader.png'); width:64px; height:64px; margin: 20% auto;}
.load{display: none; background-color: rgba(0, 0, 0, 0.25); position: fixed; height:100%; width:100%; top:0; left:0}